.deliverySection {
  background: var(--main_dark);
  padding: 1.5rem 0;
}

.deliveryCenter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.deliveryBox {
  color: var(--main_white);
  display: flex;
  align-items: center;
}

.deliveryBox h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

.deliveryIconContainer {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 10rem;
  font-size: 2rem;
  display: grid;
  place-items: center;
  color: var(--main_grey);
  margin-right: 1rem;
}

@media screen and (max-width: 1030px) {
  .deliveryBox h3 {
    font-size: 1.8rem;
  }

  .deliveryIconContainer {
    font-size: 1.8rem;
    margin-right: 0.45rem;
  }
}

@media screen and (max-width: 780px) {
  .deliveryBox h3 {
    font-size: 1.6rem;
  }

  .deliveryIconContainer {
    font-size: 1.8rem;
    margin-right: 0.25rem;
  }
}

@media screen and (max-width: 600px) {
  .deliveryBox h3 {
    font-size: 1.4rem;
  }

  .deliveryIconContainer {
    font-size: 1.6rem;
    margin-right: 0.25rem;
  }
}
