.row {
  display: grid;
  row-gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.imgContainer {
  width: 30rem;
}

.col_1 img {
  width: 100%;
  object-fit: cover;
}

.col_2 header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.titleContainer h3 {
  font-size: 2.6rem;
}

.titleContainer svg {
  color: var(--main_color);
  font-size: 1.6rem;
}

.col_2 header p {
  font-size: 2rem;
  color: var(--main_color);
  font-weight: bold;
}

.col_2_desc {
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

.col_2_desc p {
  font-size: 1.4rem;
  line-height: 1.45;
  font-weight: bold;
  color: var(--main_grey);
}

.col_2_shippingDisplay {
  padding: 0.6rem 1rem;
  background: #eee;
  border-left: 4px solid var(--main_color);
}

.col_2_shippingDisplay h4 {
  line-height: 1.7;
  font-size: 1.26rem;
}

.col_2_shippingDisplay p {
  font-size: 1.3rem;
  font-weight: bold;
}

.col_2_btnContainer {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.col_2_btnContainer input {
  border: 1px solid var(--main_dark);
  padding: 0.6rem;
  max-width: 5rem;
  font-weight: bolder;
  border-radius: 1rem;
  font-size: 1.7rem;
}

.col_2_btnContainer button {
  margin-left: 2rem;
  padding: 0.85rem 1rem;
  background: var(--main_dark);
  color: var(--main_white);
  border-radius: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  transition: var(--transition);
}

.col_2_btnContainer button:hover {
  background: var(--main_grey);
}

.col_2_guaranteeBox {
  border-top: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.col_2_guaranteeBox > div {
  display: flex;
  align-items: center;
}

.iconContainer {
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 10rem;
  display: grid;
  place-items: center;
  background: var(--main_dark);
  margin-right: 1rem;
}

.iconContainer > svg {
  font-size: 1.5rem;
  color: var(--main_color);
}

.col_2_guaranteeBox h4 {
  font-size: 1.36rem;
}

.col_2_guaranteeBox p {
  font-size: 1.3rem;
  color: var(--main_grey);
}

/*
SPINNER
*/

.centerItem,
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerItem h2 {
  font-size: 2.45rem;
}

.spinnerContainer {
  width: 15rem;
  height: 15rem;
}

.spinnerContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.errorContainer {
  text-align: center;
}

.errorContainer h2 {
  font-size: 2.45rem;
  margin-bottom: 1.5rem;
}

.errorContainer a {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  background: var(--main_dark);
  color: var(--main_white);
  font-size: 1.8rem;
}

@media screen and (max-width: 780px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }

  .imgContainer {
    width: 30rem;
  }

  .titleContainer h3 {
    font-size: 1.8rem;
  }

  .col_2 header p {
    font-size: 1.8rem;
  }

  .col_2_desc p {
    font-size: 1.4rem;
  }

  .iconContainer {
    width: 3rem;
    height: 3rem;
  }

  .iconContainer > svg {
    font-size: 1.3rem;
  }

  .col_2_guaranteeBox h4 {
    font-size: 1.4rem;
  }

  .col_2_guaranteeBox p {
    font-size: 1.3rem;
  }

  /*
  SPINNER
  */

  .centerItem,
  .errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .centerItem h2 {
    font-size: 2.25rem;
  }

  .spinnerContainer {
    width: 12rem;
    height: 12rem;
  }

  .errorContainer h2 {
    font-size: 2.2rem;
  }

  .errorContainer a {
    font-size: 1.48rem;
  }
}

@media screen and (max-width: 600px) {
  .row {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .imgContainer {
    width: 20rem;
  }

  .titleContainer h3 {
    font-size: 1.6rem;
  }

  .titleContainer svg {
    font-size: 1.26rem;
  }

  .col_2 header p {
    font-size: 1.7rem;
  }

  .col_2_desc p {
    font-size: 1.26rem;
  }

  .iconContainer {
    width: 2.5rem;
    height: 2.5rem;
  }

  .iconContainer > svg {
    font-size: 1.25rem;
  }

  .col_2_guaranteeBox h4 {
    font-size: 1.26rem;
  }

  .col_2_guaranteeBox p {
    font-size: 1.2rem;
  }

  /*
  SPINNER
  */

  .centerItem,
  .errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .centerItem h2 {
    font-size: 2rem;
  }

  .spinnerContainer {
    width: 10rem;
    height: 10rem;
  }

  .errorContainer h2 {
    font-size: 2rem;
  }

  .errorContainer a {
    font-size: 1.48rem;
  }
}
